{% extends 'testing.html' %}


{% block table %}
<p> You Are in competitions </p>
<br>

			<form method="get">

				{{filter.form}}

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

<br>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Sport</th>
        <th>Day</th>
				<th>Start Time</th>
				<th>Finish Time</th>
				<th>Start Date</th>
				<th>Final Date</th>
				<th>Gender</th>
				<th>Grade</th>
				<th>Game Length</th>
				<th>Team Advertisements</th>
				<th>Player Advertisements</th>
				{% if org.owner.accountName == request.user.username  %}
				<th> Edit Competition </th>
				<th> Delete Competition </th>
				{% endif %}

      </tr>
    </thead>
    <tbody>
      {% for comp in compList %}
        <tr>
          <td>{{ comp.CompetitionSport}}</td>
					<td>{{ comp.CompetitionDay}}</td>
					<td>{{ comp.CompetitionStartTime}}</td>
					<td>{{ comp.CompetitionEndTime}}</td>
					<td>{{ comp.CompetitionStartDate}}</td>
					<td>{{ comp.CompetitionEndDate}}</td>
					<td>{{ comp.CompetitionGender}}</td>
					<td>{{ comp.CompetitionGrade}}</td>
					<td>{{ comp.LengthOfGame}}</td>
					<td><a href="{% url 'organisation:viewCompetitionTeams' nameOfOrg comp.id %}">View
						<br>
					<a href="{% url 'organisation:addTeamComp' nameOfOrg comp.id %}">Make</td>
						<td><a href="{% url 'organisation:viewCompetitionAdvertisements' nameOfOrg comp.id %}">View
							<br>
						<a href="{% url 'organisation:addAdvertisementComp'  nameOfOrg comp.id %}">Make</td>
					{% if org.owner.accountName == request.user.username  %}
					<td><a href="{% url 'organisation:editCompetition' comp.id %}">Edit</td>
					<td><a href="{% url 'organisation:competitionDelete' comp.id %}">Delete</td>
					{% endif %}

        </tr>
      {% empty %}
        <tr>
          <td colspan="14">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
